<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0.3;url=home" />
    <title>Sign Off Pizza</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link href="../style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/bootstrap/font_awesome/bootstrap-social.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/pizza.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../style/bootstrap/javascript/bootstrap.js"></script>
    <script src="../javascript/scrollMechanism.js"></script>
    <script src="../style/javascript/javascript.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
        <nav>
        <div class="topnav" id="myTopnav">   
                <a href="Home">Home</a>
                <a href="Menu">Menu</a>      
                <a href="contactus">Contact Us</a>
                <a href="home">Log In</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>  
    
    <h1>Sign Off Pizza</h1>
    <br>

    <h1>Logged out</h1>

    <div class="centre">
        <p><a href="/">Return to home page</a></p>
    </div>
     
</body>

</html>